<footer class="app-footer">
  <!-- <p>
    Written by
    <a href="https://github.com/dev4mobile/hexo-theme-again">
      dev4mobile
    </a>
  </p>
  <p> Powered by <a href="https://dev4mobiles.com"> dev4mobile </a>
    <p> -->
</footer>