<footer class="app-footer">
  <p>
    Written by
    <a href="https://github.com/dev4mobile/hexo-theme-again">
      Drake Leung
    </a>
  </p>
  <p> Powered by <a href="https://dev4mobiles.com"> Hexo </a>
    <p>
</footer>